.landing {
    background-color: rgb(44, 38, 38); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, rgb(51, 12, 110), rgb(172, 23, 115));
}

.landing-carousel {
    z-index: -1;
}

.navLink {

}