.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(126, 126, 206);
}

a {
    text-decoration: none!important;
    color: black!important;
}

a p:hover {
    color: gray;
}

.navbar-container .navbar-left {
    display: flex;
    flex-direction: row;
}

.navbar-container .navbar-right {
    display: flex;
    justify-content: space-between;
    width: 150px;
}