@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

.navbar-container {
    display: flex;
    align-items: center;
    min-height: 10vh;
    background-color: #1C1B29; /* For browsers that do not support gradients */
/*     background-image: linear-gradient(to bottom right, rgb(51, 12, 110), rgb(172, 23, 115));
 */}

.navbar-container .container {
    display: flex;
    justify-content: space-between;
}

.lagalt-logo-text {
    font-family: 'Dela Gothic One', cursive;
    font-size: 40px;
}

.profile-link {
    padding: 20px 0 20px 0;
    font-size: 18px;
}